.contacts-block {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 700px;
  white-space: nowrap;
  border: 2px solid rgb(224, 181, 228);
}

.search-block {
  position: relative;
}

.field {
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid #e1bee7;
  background: rgb(224, 181, 228);
  position: relative;
}
.field::placeholder {
  font-size: 16px;
}

.search-block svg {
  position: absolute;
  top: 31%;
  right: 5%;
}

.search-block svg:hover {
  color: whitesmoke;
  font-size: 35px;
  top: 21%;
  right: 5%;
}

@media screen and (max-width: 560px) {
  .contacts-block {
    border: none;
  }
}
