.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 15px;
  background: #ab47bc;
}

.logo {
  text-decoration: none;
  color: white;
  cursor: pointer;
  line-height: 1.4;
  font-size: 22px;
  font-weight: bold;
}
