.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 75%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 5%;
}

.media {
  height: 450px;
  width: 850px;
}

@media screen and (max-width: 500px) {
  .Modal {
    width: 95%;
    left: 2%;
    text-align: center;
  }
}
