.card {
  width: 30.5%;
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background: rgb(224, 181, 228);
  border-radius: 10% 38%;
  font-size: 15px;
}

.card p {
  font-style: italic;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(63, 2, 99, 0.664);
}

.card button {
  align-self: flex-end;
  margin-top: auto;
}

@media screen and (max-width: 1000px) {
  .card {
    margin: 10px 5px;
  }
}

@media screen and (max-width: 880px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  .card {
    width: 98%;
    margin: 10px auto;
  }

  .card button {
    width: 100px;
    height: 35px;
  }
}
